
<div class="contentArea">

    <div class="divPanel notop page-content">

        <div class="breadcrumbs">
            <a href="index.html">Početna</a> &nbsp;/&nbsp; <span>O nama</span>
        </div>

        <div class="row-fluid">
            <!--Edit Main Content Area here-->
            <div class="span12" id="divMain">
                <hr>
                <img src="images/about.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">
                <p><strong>Gramas doo Sarajevo</strong> osnovana je 1999. godine kao građevinska firma koja se bavi maloprodajom i veleprodajom građevinskih materijala.
                    Prvobitno sjedište preduzeća Gramas doo nalazilo se u ulici Džemala Bijedića. Preduzeće je svoju poslovnu djelatnost obavljalo na površini od 600 m2 sa dva zaposlenika, koji su ujedno bili osnivači preduzeća.

                    Uz mnogo uloženog truda i napora te dobre poslovne saradnje sa našim partnerima, preduzeće je počelo da stvara imidž ozbiljnog konkurenta u oblasti građevine.</p>

                <p>Osvajanjem novih tržišta na području  BiH razvila se potreba za otvaranjem novih maloprodajnih objekata. Od aprila 2008. godine naša dva maloprodajna objekta i veleprodaja nalaze se u ulici Safeta Zajke 179, dok se naš treći maloprodajni objekat nalazi u ulici Safeta Zajke na broju 225.
                </p>


                <!--Edit Blockquote here-->
                <blockquote>

                    <h3 class="text-error">Također, nudimo mogućnost učenja i sticanja novih znanja studentima kroz obavljanje prakse.</h3>
                    <small>Gramas tim <cite title="Source Title"></cite></small>

                </blockquote>
                <!--/End Blockquote-->

                <img src="images/about2.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">
                <p>
                    Za vrijeme svog postojanja, Gramas doo se isprofilirao kao vodeći veletrogovac u prodaji suhe gradnje u BiH. Istovremeno učestvujemo  sa velikim procentom prodaje našeg poslovnog partnera Rigips-a, vodećeg  lidera na svjetskom tržištu u proizvodnji suhomontažnog sistema gradnje.
                </p>

                <p>
                    Gramas doo je vodeći bosanski prodavač Velux krovnih prozora, a treći je prodavač izolacionih materijala proizvođača Uralita u BiH. Kod nas možete pronaći proizvode poznatih svjetskih brendova kao što su Rockwool, Creaton, Baumit, Weber, Knauf, Tondach po pristupačnim cijenama.
                </p>

                <p>Danas Gramas doo zapošljava 15 osoba, koji marljivo rade i doprinose stvaranju dodatne vrijednosti preduzeća, ali istovremeno pružamo mogućnost zaposlenja novih radnika koji će postati dio narandžasto-plavog  tima.</p>

                <p>Posjetite nas i uvjerite se u kvalitet proizvoda koji Vam nudimo, jer zadovoljstvo i povjerenje naših kupaca je na prvom mjestu.</p>

            </div>
            <!--End Sidebar Content here-->
        </div>

        <div id="footerInnerSeparator"></div>
    </div>
</div>