<div class="contentArea">

    <div class="divPanel notop page-content">

        <div class="breadcrumbs">
            <a href="index.html">Početna</a> &nbsp;/&nbsp; <span>Kontakt</span>
        </div>

        <div class="row-fluid">
            <div class="span8" id="divMain">
                <h3 style="color:#FF6633;">Lokacija</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2599.371632526397!2d18.33107799999979!3d43.85344700643139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDPCsDUxJzEyLjQiTiAxOMKwMTknNTEuOSJF!5e1!3m2!1shr!2sba!4v1426836899363" width="730" height="450" frameborder="0" style="border:0"></iframe>


                <h3 style="color:#FF6633;">Kontakt forma</h3>
                <hr>
                <!--Start Contact form -->
                <form name="enq" method="post" action="email/" onsubmit="return validation();">
                    <fieldset>

                        <input type="text" name="name" id="name" value=""  class="input-block-level" placeholder="Vaše ime i prezime" />
                        <input type="text" name="email" id="email" value="" class="input-block-level" placeholder="Email" />
                        <textarea rows="8" name="message" id="message" class="input-block-level" placeholder="Poruka"></textarea>
                        <div class="actions">
                            <input type="submit" value="Pošaljite" name="submit" id="submitButton" class="btn btn-info pull-right" title="Kliknite ovdje da pošaljete poruku!" onclick="alert('Servis trenutno nije u funkciji! Uskoro će biti osposobljen. Lijep pozdrav, Gramas tim!')"/>
                        </div>

                    </fieldset>
                </form>
                <!--End Contact form -->
            </div>

            <!--Edit Sidebar Content here-->
            <div class="span4 sidebar">

                <div class="sidebox">
                    <h3 class="sidebox-title">Kontakt informacije:</h3>
                    <p>
                    <address>
                        <strong>GRAMAS doo Sarajevo</strong><br />
                        Safeta Zajke 179 ( VP, MP1, MP3)<br />
                        Safeta Zajke 225 (MP2)<br />
                        71000 Sarajevo<br />
                    </address>
                    <address><strong>Info: </strong><a href="mailto:#">info@gramas.ba</a><br />
                        <strong>Marketing:</strong> marketing@gramas.ba<br />
                        <strong>Prodaja:</strong> prodaja@gramas.ba<br />
                        <strong>Nabavka:</strong> nabavka@gramas.ba<br />
                    </address>


                    </p>
                    <hr/>
                    <div>
                        <h5 class="text-info">Direktor</h5>
                        <!--<img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">-->
                        <p>Kontakt osoba: Direktor</p>
                        <p><abbr title="Telefon">Tel:</abbr> 033 / 765 - 587</p>
                        <p><abbr title="Fax">Fax:</abbr> 033 / 765 - 581</p>
                        <p>E-mail: gramas@gramas.ba</p>
                        <p>Alternativni E-mail: gramas@bih.net.ba</p>
                    </div>
                    <hr/>
                    <div>
                        <h5 class="text-info">Robno knjigovodstvo</h5>
                        <!--<img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt=""> -->
                        <p>Kontakt osoba: Naida</p>
                        <p><abbr title="Telefon">Tel:</abbr> 033 / 765 - 580</p>
                        <p><abbr title="Fax">Fax:</abbr> 033 / 765 - 581</p>
                        <p>E-mail: robno.knjigovodstvo@gramas.ba</p>
                    </div>
                    <hr/>
                    <div>
                        <h5 class="text-info">Finansije</h5>
                        <!--<img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt=""> -->
                        <p>Kontakt osoba: Džana</p>
                        <p><abbr title="Telefon">Tel:</abbr> 033 / 765 - 580</p>
                        <p><abbr title="Fax">Fax:</abbr> 033 / 765 - 581</p>
                        <p>E-mail: finansije@gramas.ba</p>
                        <p>Alternativni E-mail: gramas.racunovodstvo@bih.net.ba</p>
                    </div>

                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <h5 class="text-info">Maloprodaja 1</h5>
                    <!--<img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt=""> -->
                    <p>Kontakt osoba: Almir</p>
                    <p><abbr title="Telefon">Tel:</abbr> 033 / 765 - 585</p>
                    <p><abbr title="Fax">Fax:</abbr> 033 / 765 - 581</p>
                </div>
                <div class="span3">
                    <h5 class="text-info">Maloprodaja 2</h5>
                    <!--<img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt=""> -->
                    <p>Kontakt osoba: Zehro</p>
                    <p><abbr title="Telefon">Tel:</abbr> 033 / 765 - 605</p>
                    <p><abbr title="Fax">Fax:</abbr> 033 / 765 - 605</p>
                </div>
                <div class="span3">
                    <h5 class="text-info">Maloprodaja 3</h5>
                    <!--<img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt=""> -->
                    <p>Kontakt osoba: Mirnes</p>
                    <p><abbr title="Telefon">Tel:</abbr> 033 / 765 - 586</p>
                    <p><abbr title="Fax">Fax:</abbr> 033 / 765 - 581</p>
                </div>

                <div class="span3">
                    <h5 class="text-info">Veleprodaja</h5>
                    <!--<img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt=""> -->
                    <p>Kontakt osoba: Salem</p>
                    <p><abbr title="Telefon">Tel:</abbr> 033 / 765 - 582</p>
                    <p><abbr title="Fax">Fax:</abbr> 033 / 765 - 581</p>
                </div>


            </div>
            <!--/End Sidebar Content-->
        </div>
        <div id="footerInnerSeparator"></div>
    </div>
</div>
