
<div class="contentArea">
    <div class="divPanel notop page-content">
        <div class="breadcrumbs">
            <a href="index.html">Početna</a> &nbsp;/&nbsp; <span>Katalog</span>
        </div>
        <!--Edit Portfolio Content Area here-->
        <div class="row-fluid">
            <div class="span12">
                <div class="yoxview">
                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/g00.jpg">
                                        <img src="portfolio-img/g0.jpg" alt="Gradjevinski materijali" title="Gradjevinski materijali" />
                                    </a>
                                    <div class="caption">
                                        <h5>Gradjevinski materijali</h5>
                                        <p>- Armaturne mreže, nosači, rebrasto-betonski čelik, uzengije i distanceri
                                        <p>- Cement – kreč cement, Tvornica cementa Kakanj i Standard cement</p>
                                        <p>- Blokovi  i siporex, kreč Stamal, puna i fasadna cigla...</p>
                                        <p>- Mreže za estrich, ekseri i žica, malter, ljepila i glet masa, izolacione vune i čepasta izolacija, gromobranska traka i elementi</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/boje1.jpg">
                                        <img src="portfolio-img/boje.png" alt="Boje i lakovi" title="Boje i lakovi"/></a>
                                    <div class="caption">
                                        <h5>Boje i lakovi</h5>
                                        <p>- Boje za krečenje, temeljne boje i lakovi za drvo i metal</p>
                                        <p>- Lakovi, temeljjni prelazi i impregnacija za parket, boje za beton, fasadex</p>
                                        <p>- Vodeni lakovi za parket, PU pjen i silikoni</p>
                                        <p>- Ljepilo za drvo i sintelan</p>
                                        <p>- Antikorozivni premazi za metal, sredstva za auto reparaturu</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/elektro.jpg">
                                        <img src="portfolio-img/elektro1.jpg" alt="Elektromaterijal" title="Elektromaterijal"/></a>
                                    <div class="caption">
                                        <h5>Elektromaterijal</h5>
                                        <p>- Utičnice, osigurači i utikači grla</p>
                                        <p>- Sklopke, prekidači, kablovi i PF žice</p>
                                        <p>- Lampe, svjetiljke, reflektori, FLUO svjetiljke i cijevi</p>
                                        <p>- Prigušnice, starteri, razdjeljnici za automatske osigurače, obujnice i pričvrsnice</p>
                                        <p>- Indikatori, monofazna i trofazna brojila</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/sanitarije.jpg"><img src="portfolio-img/sanitarije1.jpg" alt="Sanitarije i kupaonicki namjestaj" title="Sanitarije i kupaonicki namjestaj"/></a>
                                    <div class="caption">
                                        <h5>Sanitarije i kupaonicki namjestaj</h5>
                                        <p>- Galanterija za kupaonički namještaj</p>
                                        <p>- WC  školjke</p>
                                        <p>- Daske za wc školjke</p>
                                        <p>- Umivaonici</p>
                                        <p>- Hidromasažne kade i kabine</p>
                                        <p>- Kade i tuš kabine</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/keramika1.jpg"><img src="portfolio-img/keramika.jpg" alt="Keramika" title="Keramika"/></a>
                                    <div class="caption">
                                        <h5>Keramika</h5>
                                        <p>- Podna i zidna keramika</p>
                                        <p>- Gres keramika</p>
                                        <p>- Polirane pločice</p>
                                        <p>- Vanjske pločice</p>
                                        <p>- Fug mase</p>
                                        <p>- Križići za keramiku</p>
                                        <p>- Alat i oprema za keramičare</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/rigips.jpg"><img src="portfolio-img/rigips1.jpg" alt="Rigips" title="Rigips"/></a>
                                    <div class="caption">
                                        <h5>Rigips</h5>
                                        <p>- Gips kartonske ploče (obične, protivpožarne, vlagootporne)</p>
                                        <p>- Ploče za lukove</p>
                                        <p>- Stropni i pregradni profili</p>
                                        <p>- Vijci i držači</p>
                                        <p>- Trake, mase i ljepila za Rigips</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/kamin.jpg"><img src="portfolio-img/kamin1.jpg" alt="Oprema za grijanje" title="Oprema za grijanje"/></a>
                                    <div class="caption">
                                        <h5>Oprema za grijanje</h5>
                                        <p>- Kotlovina</p>
                                        <p>- Kotlovina pelet</p>
                                        <p>- Kotlovi za etažno grijanje</p>
                                        <p>- Kamini</p>
                                        <p>- Radijatori</p>
                                        <p>- Bakarne cijevi i fiting</p>
                                        <p>- Pumpe za grijanje, manometri, razdjeljnici i ormari</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/brave.jpg"><img src="portfolio-img/brave1.jpg" alt="Brave,okovi i baglame" title="Brave, okovi i baglame"/></a>
                                    <div class="caption">
                                        <h5>Brave, okovi i baglame</h5>
                                        <p>- Retro, tokarske i standardne baglame</p>
                                        <p>- Ereze</p>
                                        <p>- Šarniri</p>
                                        <p>- L-profili</p>
                                        <p>- Katanci</p>
                                        <p>- Lanci</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/fasade.jpg"><img src="portfolio-img/fasade.jpg" alt="Fasadni sistem" title="Fasadni sistem"/></a>
                                    <div class="caption">
                                        <h5>Fasadni sistem</h5>
                                        <p>- Stiropor</p>
                                        <p>- Cokl profili i okapnice</p>
                                        <p>- Staklena vlakna, fasadne mrežice</p>
                                        <p>- Fasadni i unutarnji dekor od stiropora</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/htz.jpg">
                                        <img src="portfolio-img/htz1.jpg" alt="HTZ oprema" title="HTZ oprema"/></a>
                                    <div class="caption">
                                        <h5>HTZ oprema</h5>
                                        <p>- Zaštitna odijela, rukavice, prsluci, kombinezoni, naočare i maske</p>
                                        <p>- Zaštitne cipele</p>
                                        <p>- Reklamna odijela, prsluci, majice,  rukavice, kape</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/vijci.jpg">
                                        <img src="portfolio-img/vijci.jpg" alt="Vijci i vijcana roba" title="Vijci i vijcana roba"/></a>
                                    <div class="caption">
                                        <h5>Vijci i vijcana roba</h5>
                                        <p>- Šarafi za rigips</p>
                                        <p>- Vijci</p>
                                        <p>- Nakucavajući tiplovi</p>
                                        <p>- Navojne šipke</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/krov.jpg"><img src="portfolio-img/krov1.jpg" alt="Oprema za krovove" title="Oprema za krovove"/></a>
                                    <div class="caption">
                                        <h5>Oprema za krovove</h5>
                                        <p>- Crijep</p>
                                        <p>- Metalni snjegobran i paropropusne folije</p>
                                        <p>- Krovni prozori</p>
                                        <p>- Tavanske stepenice</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/pod.jpg"><img src="portfolio-img/pod1.jpg" alt="Podne obloge" title="Podne obloge"/></a>
                                    <div class="caption">
                                        <h5>Podne obloge</h5>
                                        <p>- Laminati</p>
                                        <p>- Panel, lamelni i klasični parketi</p>
                                        <p>- XPS i pjenaste podloge za laminat</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/molerski.jpg"><img src="portfolio-img/molerski1.jpg" alt="Molerski program" title="Molerski program"/></a>
                                    <div class="caption">
                                        <h5>Molerski program</h5>
                                        <p>- Četke i valjci
                                        <p>- Najlon i krep trake za zaštitu</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/vodomaterijal.jpg"><img src="portfolio-img/vodomaterijal1.jpg" alt="Vodomaterijal" title="Vodomaterijal"/></a>
                                    <div class="caption">
                                        <h5>Vodomaterijal</h5>
                                        <p>- Vargon
                                        <p>- Ekoplastika</p>
                                    </div>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail">
                                    <a href="portfolio-img/alat.jpg"><img src="../portfolio-img/alat1.jpg" alt="Alat" title="Alat"/></a>
                                    <div class="caption">
                                        <h5>Alat</h5>
                                        <p>- Razne vrste alata potrebnih za gradjevinu i gradjevinske radnje, kao i opremanje doma...</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/End Portfolio Content Area-->
        <div id="footerInnerSeparator"></div>
    </div>
</div>
