
<div class="contentArea">

    <div class="divPanel notop page-content">


        <div class="row-fluid">
            <!--Edit Main Content Area here-->
            <div class="span12" id="divMain">
                <h1>Dobrodošli</h1>

                <p><strong>Gramas d.o.o. Sarajevo je građevinska firma koja se bavi maloprodajom i veleprodajom građevinskih materijala.</strong></p>
                <p>
                    Iz perspektive biznisa poznati smo kao vodeći bosanski prodavač Velux krovnih prozora, i treći prodavač izolacionih materijala proizvođača Uralita u BiH. Kod nas možete pronaći proizvode poznatih svjetskih brendova kao što su Rockwool, Creaton, Baumit, Weber, Knauf, Tondach po pristupačnim cijenama, te sve potrebne građevinske materijale za kuću i dom...
                </p>
                <p>
                    Posjetite nas i uvjerite se u kvalitet proizvoda koji Vam nudimo, jer zadovoljstvo i povjerenje naših kupaca je na prvom mjestu. Ukoliko imate pitanja ili određenih nejasnoća, budite slobodni da nas kontaktirate putem kontakt forme ili kontakt podataka na dnu stranice.
                </p>

                <br />
                <br />

                <div class="row-fluid">
                    <div class="span4">
                        <div class="box">
                            <i class="general foundicon-cart"></i>
                            <h4 class="title">Prodaja</h4>
                            <hr/>
                            <p>
                                U sklopu našeg asortimana robe možete pronaći većinu potrebnih materijala za građevinske radnje i sl.
                                Konkretna ponuda artikala je vidljiva u našem <a href="portfolio.html">katalogu proizvoda</a>.
                                Kao poseban dodatak nudimo besplatno toniranje boja sa preko 1000 nijansi svih boja, plaćanje visa karticom, dostavu...
                            </p>
                            <a href="services.html">Saznaj više...</a>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="box">
                            <i class="general foundicon-tools"></i>
                            <h4 class="title">Servis</h4>
                            <hr/>
                            <p>
                                Za svaku robu kupljenu u našim prodajnim centrima, dobavljači daju garanciju na kvalitet.
                                Ukoliko u garantom roku dođe do kvara, loma ili odstupanja od garantovanog kvaliteta, imate pravo na reklamaciju.
                                Potrebno je da postupate u skladu sa uputstvima korištenja datog materijala i da sačuvate račun koji ste dobili prilikom kupovine istog...
                            </p>
                            <a href="services.html">Saznaj više...</a>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="box">
                            <i class="general foundicon-people"></i>
                            <h4 class="title">Saradnja</h4>
                            <hr/>
                            <p>
                                Idealna prilika za majstore. Želite postati dio potrošačkog kluba majstora?
                                Popunite zahtjev i započnite sa kupovinom proizvoda u našim prodajnim centrima. Prilikom svake kupovine dobijaju se  bodovi.
                                Kada skupite određeni broj bodova ostvarujete pravo na dodatne popuste.
                            </p>
                            <a href="services.html">Saznaj više...</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <div id="footerInnerSeparator"></div>
    </div>
</div>
