
<div class="row-fluid">
        <div class="span12">
            <div id="list_photos"></div>

            <div id="headerSeparator"></div>

            <div class="camera_full_width" width="50%" height="90%">
                <div id="camera_wrap">
                    <div data-src="slider-images/graamas6.jpg" >
                        <div class="camera_caption fadeFromBottom cap1">Dobrodošli na oficijelnu web stranicu kompanije Gramas doo</div>
                    </div>
                    <div data-src="slider-images/oglas1.jpg" ><div class="camera_caption fadeFromBottom cap2">Uz kupovinu crijepa gratis krovni prozor</div></div>
                    <div data-src="slider-images/oglas2.jpg" ><div class="camera_caption fadeFromBottom cap2">Dodatni popust na kupovinu cjelokupnog fasadnog sistema</div></div>
                    <div data-src="slider-images/oglas3.jpg" ><div class="camera_caption fadeFromBottom cap2">Laminat BALTERIO i klasa 8mm</div></div>
                    <div data-src="slider-images/oglas4.jpg" ><div class="camera_caption fadeFromBottom cap2">Akcijske cijene za rigips ploce, mineralne vune, fasadni sistem, kupaonicki namjestaj...</div></div>

                    <div data-src="slider-images/oglas5.jpg" ><div class="camera_caption fadeFromBottom cap2">Akcijske cijene za ugradbeni vodokotlic, boju za krecenje, HTZ oprema i radna odijela...</div></div>

                    <div data-src="slider-images/oglas6.jpg" ><div class="camera_caption fadeFromBottom cap2">Akcijske cijene za sanitarije, laminat, stiropor, ljepilo za fasadu...</div></div>

                    <div data-src="slider-images/oglas7.jpg" ><div class="camera_caption fadeFromBottom cap2">Akcijske cijene za cement TCK25/1 i sve vrste blokova...</div></div>

                    <div data-src="slider-images/oglas8.jpg" ><div class="camera_caption fadeFromBottom cap2">Nexe termo blok TB20 i TB25... Cement TCK vec od 4,90 KM</div></div>
                </div>
                <br style="clear:both"/><div style="margin-bottom:40px"></div>
            </div>

            <div id="headerSeparator2"></div>

        </div>
    </div>
